@{
    ViewData["Title"] = "Class Rubric";
}
@model Darla.Models.ViewModels.GradeViewModel

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />

<style>
    .header {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    .back-arrow {
        font-size: 24px;
        cursor: pointer;
        margin-right: 10px;
    }

    .no-hover {
        text-decoration: none !important;
        color: inherit !important;
    }

    .table th, .table td {
        vertical-align: middle;
    }

    .comments-input, .points-input {
        width: 100%;
    }

    .submit-btn {
        margin-top: 20px;
        float: right;
    }

    .main-content {
        padding-bottom: 120px;
    }
</style>

@using (Html.BeginForm("ClassRubric", "TA", FormMethod.Post))
{
    <div class="container mt-4 main-content">
        <div class="header">
            <a asp-action="TaGradingProgress" class="back-arrow no-hover">&#x2190;</a>
            <h2>@ViewData["Title"]</h2>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>Class Code</th>
                    <th>Assignment ID</th>
                    <th>Subcategory</th>
                    <th>Description</th>
                    <th>User ID</th>
                    <th>Team Number</th>
                    <th>Points Earned</th>
                    <th>Max Points</th>
                    <th>Comments</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.RubricRequirements.Count(); i++)
                {
                    <tr>
                        <td>@Model.RubricRequirements.ElementAt(i).ClassCode</td>
                        <td>@Model.RubricRequirements.ElementAt(i).AssignmentId</td>
                        <td>@Model.RubricRequirements.ElementAt(i).Subcategory</td>
                        <td>@Model.RubricRequirements.ElementAt(i).Description</td>
                        <td>@Model.Grades.ElementAt(i).UserId</td>
                        <td>
                            <input asp-for="@Model.Grades[i].TeamNumber" class="form-control" />
                        </td>
                        <td>
                            <input asp-for="@Model.Grades[i].PointsEarned" class="form-control points-input" />
                        </td>
                        <td>@Model.RubricRequirements.ElementAt(i).MaxPoints</td>
                        <td>
                            <input asp-for="@Model.Grades[i].Comments" class="form-control comments-input" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <button type="submit" class="btn btn-primary submit-btn">Submit</button>
    </div>
}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
