@using Darla.Models

@model List<Rubric>

    <h2>Task Information</h2>

<<<<<<< Updated upstream
    @foreach (var classCode in new[] { 402, 413, 414, 455 })
=======
    @foreach (var rubric in @Model)
>>>>>>> Stashed changes
{
    <table>
        <tr>
            <th colspan="4">
                <span style="float: left">IS @classCode</span>
                <span style="float: right"><button>Edit</button></span>
            </th>
        </tr>
        <tr>
            <th>Task Name</th>
            <th>Student Description</th>
            <th>TA Description</th>
            <th>Max Total Points</th>
        </tr>
        @foreach(var rubric in Model.Where(r => r.ClassCode == classCode))
        {
        <tr>
<<<<<<< Updated upstream
            <td>@rubric.Subcategory</td>
            <td>@rubric.Decsription</td>
            <td>@rubric.InstructorNotes</td>
            <td>@rubric.MaxPoints</td>
=======
            <td>@rbk.subcategory</td>
            <td>@rbk.description</td>
            <td>@rbk.instructor_notes</td>
            <td>@rbk.max_points</td>
>>>>>>> Stashed changes
        </tr>
        }
        <tr>
            <td colspan="3">Total Max Total Points:</td>
            <td>@Model.Where(r => r.ClassCode == classCode).Sum(r => r.MaxPoints)</td>
        </tr>
    </table>
}
