@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using Darla.Models

@model IEnumerable<Rubric>

<form method="post">
    <h2>Admin Rubric Edit</h2>
    <div class="container" style="color:black">
        <div class="row">
            <div class="col"></div>
            <div class="col-10">
                <table class="table table-bordered" style="margin-bottom: 20px; color: black;">
                    <thead class="thead-dark">
                        <tr>
                            <th>Task Name</th>
                            <th>Student Description</th>
                            <th>TA Description</th>
                            <th>Max Total Points</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            @foreach (var rubric in Model)
                            {
                                <tr>
                                    <td>
                                        <input type="text" class="form-control" name="Rubrics[@rubric.AssignmentId].Subcategory" value="@rubric.Subcategory" />
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" name="Rubrics[@rubric.AssignmentId].Description" value="@rubric.Description" />
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" name="Rubrics[@rubric.AssignmentId].InstructorNotes" value="@rubric.InstructorNotes" />
                                    </td>
                                    <td>
                                        <input type="number" class="form-control" name="Rubrics[@rubric.AssignmentId].MaxPoints" value="@rubric.MaxPoints" />
                                    </td>
                                    <td>
                                        <a class="btn btn-primary" asp-controller="Home" asp-action="AdminRubricEdit" asp-route-assignmentId="@rubric.AssignmentId">Edit</a>
                                    </td>
                                    <td>
                                        <a class="btn btn-danger" asp-controller="Home" asp-action="AdminRubricDelete" asp-route-assignmentId="@rubric.AssignmentId"><button>Delete</button></a>
                                    </td>
                                </tr>
                            }
                        }
                        <tr>
                            <td colspan="10">
                                <h3>Add new item</h3>
                                <div class="row">
                                    <div class="col-3">
                                        <input type="text" class="form-control" name="NewRubric.Subcategory" placeholder="Task Name" />
                                    </div>
                                    <div class="col-3">
                                        <input type="text" class="form-control" name="NewRubric.Description" placeholder="Student Description" />
                                    </div>
                                    <div class="col-3">
                                        <input type="text" class="form-control" name="NewRubric.InstructorNotes" placeholder="TA Description" />
                                    </div>
                                    <div class="col-3">
                                        <input type="number" class="form-control" name="NewRubric.MaxPoints" placeholder="Max Total Points" />
                                    </div>
                                    <div class="col-2">
                                        <a asp-controller="Home" asp-action="AdminRubricAdd"><button>Add</button></a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5" style="text-align: right;">Total Max Total Points:</td>
                            <td>
                                @Model.Sum(r => r.MaxPoints)
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col"></div>
        </div>
    </div>
    <button type="submit" asp-controller="Home" asp-action="AdminRubricEdit">Submit Edits</button>
</form>


















@*<form method="post">
    <h2>Admin Rubric Edit</h2>
    <table style="border-collapse: collapse; border: 1px solid black; margin-bottom: 20px; color: white;">
        <tr>
            <th style="border: 1px solid black;">Task Name</th>
            <th style="border: 1px solid black;">Student Description</th>
            <th style="border: 1px solid black;">TA Description</th>
            <th style="border: 1px solid black;">Max Total Points</th>
        </tr>
        @if (Model != null)
        {
            @foreach (var rubric in Model)
            {
                <tr>
                    <td style="border: 1px solid black;">
                        <input type="text" name="Rubrics[@rubric.AssignmentId].Subcategory" value="@rubric.Subcategory" />
                    </td>
                    <td style="border: 1px solid black;">
                        <input type="text" name="Rubrics[@rubric.AssignmentId].Description" value="@rubric.Description" />
                    </td>
                    <td style="border: 1px solid black;">
                        <input type="text" name="Rubrics[@rubric.AssignmentId].InstructorNotes" value="@rubric.InstructorNotes" />
                    </td>
                    <td style="border: 1px solid black;">
                        <input type="number" name="Rubrics[@rubric.AssignmentId].MaxPoints" value="@rubric.MaxPoints" />
                    </td>
                </tr>
            }
        }
        <tr>
            <td colspan="4" style="border: 1px solid black;">
                <h3>Add new item</h3>
                <input type="text" name="NewRubric.Subcategory" placeholder="Task Name" />
                <input type="text" name="NewRubric.Description" placeholder="Student Description" />
                <input type="text" name="NewRubric.InstructorNotes" placeholder="TA Description" />
                <input type="number" name="NewRubric.MaxPoints" placeholder="Max Total Points" />
                <button type="submit" name="action" value="Add">Add</button>
            </td>
        </tr>
        <tr>
            <td colspan="3" style="border: 1px solid black; text-align: right;">Total Max Total Points:</td>
            <td style="border: 1px solid black;">
                @Model.Sum(r => r.MaxPoints)
            </td>
        </tr>
    </table>
</form>*@