

@model List<Rubric>

<h2>Task Information</h2>

@foreach (var rubric in @Model)
{
    <table>
        <tr>
            <th colspan="4">
                <span style="float: left">IS @rubric.class_code</span>
                <span style="float: right"><button>Edit</button></span>
            </th>
        </tr>
        <tr>
            <th>Task Name</th>
            <th>Student Description</th>
            <th>TA Description</th>
            <th>Max Total Points</th>
        </tr>
        @foreach(var rbk in rubric.Where(r => r.class_code == rubric.class_code))
        {
            <tr>
                <td>@rbk.subcategory</td>
                <td>@rbk.description</td>
                <td>@rbk.instructor_notes</td>
                <td>@rbk.max_points</td>
            </tr>
        }
        <tr>
            <td colspan="3">Total Max Total Points:</td>
            <td>@rubric.Where(r => r.class_code == rubric.class_code).Sum(r => r.max_points)</td>
        </tr>
    </table>
}