@{
    // Define the judge name and group schedule in C#
    var judgeName = "Jenna Fox";
    var groupSchedule = new Dictionary<string, string>
    {
        {"9:00-9:30 am", "Group 02-13"},
        {"10:45-10:15 am", "Group 04-09"},
        {"12:15-1:45 pm", "Group 01-01"},
        {"2:00-2:30pm", "Group 03-15"},
        {"2:45-3:15pm", "Group 02-11"}
    };
}


<!DOCTYPE html>
<html>
<head>
    <title>Judge Schedule and Ranking</title>
    <style>
       /* Add your CSS styles here */
       .schedule-container {
           display: flex;
           justify-content: space-between;
       }
       .schedule, .ranking {
           border: 1px solid #000;
           margin: 10px;
           padding: 10px;
       }
       .ranking-list {
           display: flex;
           align-items: center;
       }
       .ranking-list input {
           margin-right: 10px;
       }
       /* Further styling */
   </style>
</head>
<body>


<div class="schedule-container">
    <div class="schedule">
        <h1>JUDGE: @judgeName</h1>
        <h2>Schedule & Surveys</h2>
        <h3>ROOM W310</h3>
        @foreach (var entry in groupSchedule)
        {
            <div>@entry.Key @entry.Value</div>
        }
        <div>Lunch</div> <!-- Lunch break is static -->
    </div>
  
    <div class="ranking">
        <h2>Group Ranking</h2>
        @foreach (var entry in groupSchedule)
        {
            <div class="ranking-list">
                <input type="number" name="@entry.Value" min="1" max="5" />
                @entry.Value
            </div>
        }
    </div>
</div>


<!-- You might want to add some JavaScript here to validate input or handle form submission -->


</body>
</html>